name: Go Build AIX

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions: write-all

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.9'

      - name: Build for AIX ppc64
        env:
          GOOS: aix
          GOARCH: ppc64
          CGO_ENABLED: 0
        run: go build -tags goora -o oracledb_exporter main.go

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: oracledb_exporter-aix-ppc64
          path: oracledb_exporter
