name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.9'

      - name: Build for AIX ppc64
        env:
          GOOS: aix
          GOARCH: ppc64
          CGO_ENABLED: 0
        run: |
          go build -tags goora -o oracledb_exporter-aix-ppc64 main.go
          tar -czf oracledb_exporter-aix-ppc64.tar.gz oracledb_exporter-aix-ppc64

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            oracledb_exporter-aix-ppc64.tar.gz
          generate_release_notes: true
          draft: false
          prerelease: false
          token: ${{ secrets.GITHUB_TOKEN }}
